body {
    margin:0;
    background:#486248;
}

nav {
    background:#141E14;
    width:100%;
    overflow:auto;
}

ul {
    margin:0;
    padding:0;
    list-style:none;
}

li {
    float:left;
}

h1 {
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #f2f2f2;
    font-family: Arial;
}

label {
    padding: 5px;
    font-size: 15px;
    font-weight: none;
    text-align: auto;
    color: #f2f2f2;
    font-family: Arial;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-align: auto;
    font-family: Arial;
}

p {
    padding: 10px;
    font-size: 15px;
    font-weight: none;
    text-align: left;
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
}

nav a {
    width:120px;
    display:block;
    text-decoration:none;
    text-align:center;
    background:#141E14;
    font-size:17px;
    color:white;
    padding:20px 10px;
    font-family:Arial;
}
nav a:hover {
    background:#B10000;
    color:black;
}

.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

.gallery{
    margin: 10px 50px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

footer {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background: #594848;
    color: white;
    font-family: Serif;
    letter-spacing: 1px;
}